.dicteam-section-container {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/images/dicteam_1920_background.png");
  margin-top: 2rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  gap: 3rem;
}

.dicteam-central-section {
  background-color: rgba(248, 241, 209, 0.37);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.module {
  width: 40%;
  border-radius: 200px;
  padding: 0.4rem;
  display: flex;
  flex-direction: row;
}

.dicteam-member-image {
  width: 28%;
  height: auto;
}

.dicteam-top-section {
  background-color: #ffd37e;
}

.dicteam-mid-section {
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: #f0f0f5;
}

.dicteam-bottom-section {
  background-color: #ffd37e;
}

.dicteam-memebrs-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 0.2rem; */
  padding: 1rem;
}

.dicteam-memebersname {
  font-size: 29px;
  font-weight: 400;
  color: var(--text-color);
}

.dicteam-memeberstitle {
  font-size: 22px;
  font-weight: 400;
  color: var(--text-color);
}

.dicteam-socila-media-icons {
  width: 35%;
  height: auto;
}

.dicteam-socials-container {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

/* Default styles (mobile-first approach) */

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_320_background.png");
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .module {
    width: 100%;
    height: 500px;
    border-radius: 200px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dicteam-member-image {
    width: 100%;
    height: auto;
  }

  .dicteam-memebrs-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .dicteam-memebersname {
    font-size: 16px;
  }

  .dicteam-memeberstitle {
    font-size: 16px;
    text-align: center;
  }

  .dicteam-socila-media-icons {
    width: 100%;
    height: auto;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_320_background.png");
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .module {
    width: 100%;
    height: 550px;
    border-radius: 200px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dicteam-member-image {
    width: 100%;
    height: auto;
  }

  .dicteam-memebrs-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .dicteam-memebersname {
    font-size: 19px;
  }

  .dicteam-memeberstitle {
    font-size: 19px;
    text-align: center;
  }

  .dicteam-socila-media-icons {
    width: 100%;
    height: auto;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_320_background.png");
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .module {
    width: 100%;
    height: 600px;
    border-radius: 200px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dicteam-member-image {
    width: 100%;
    height: auto;
  }

  .dicteam-memebrs-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .dicteam-memebersname {
    font-size: 20px;
  }

  .dicteam-memeberstitle {
    font-size: 20px;
    text-align: center;
  }

  .dicteam-socila-media-icons {
    width: 100%;
    height: auto;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_320_background.png");
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .module {
    width: 100%;
    height: 600px;
    border-radius: 200px;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .dicteam-member-image {
    width: 100%;
    height: auto;
  }

  .dicteam-memebrs-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .dicteam-memebersname {
    font-size: 21px;
  }

  .dicteam-memeberstitle {
    font-size: 21px;
    text-align: center;
  }

  .dicteam-socila-media-icons {
    width: 100%;
    height: auto;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_430_background.png");
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .module {
    width: 100%;
    height: 660px;
  }

  .dicteam-memebersname {
    font-size: 28px;
    text-align: center;
  }

  .dicteam-memeberstitle {
    font-size: 23px;
    text-align: center;
  }
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_430_background.png");
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .module {
    width: 100%;
    height: 700px;
  }

  .dicteam-memebersname {
    font-size: 28px;
    text-align: center;
  }

  .dicteam-memeberstitle {
    font-size: 23px;
    text-align: center;
  }
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  .module {
    width: 60%;
    height: 620px;
  }
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_768_background.png");
  }
  .module {
    width: 50%;
    height: 690px;
  }
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_1024_background.png");
    padding-top: 14rem;
    padding-bottom: 10rem;
  }
  .module {
    width: 70%;
    height: auto;
    border-radius: 200px;
    padding: 0.4rem;
    display: flex;
    flex-direction: row;
  }

  .dicteam-member-image {
    width: 38%;
    height: auto;
  }

  .dicteam-memebrs-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* gap: 0.2rem; */
    padding: 0.2rem;
  }

  .dicteam-memebersname {
    font-size: 23px;
    text-align: left;
  }

  .dicteam-memeberstitle {
    font-size: 19px;
    text-align: left;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_1280_background.png");
  }
  .module {
    width: 60%;
  }
  .dicteam-member-image {
    width: 32%;
    height: auto;
  }
  .dicteam-memebersname {
    font-size: 30px;
    text-align: left;
  }

  .dicteam-memeberstitle {
    font-size: 22px;
    text-align: left;
  }
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_1440_background.png");
  }
  .module {
    width: 52%;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_1920_background.png");
  }
  .dicteam-memebersname {
    font-size: 37px;
    text-align: left;
  }

  .dicteam-memeberstitle {
    font-size: 27px;
    text-align: left;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
  .dicteam-section-container {
    background-image: url("/images/dicteam_2560_background.png");
  }
  .module {
    width: 46%;
  }
  .dicteam-member-image {
    width: 30%;
    height: auto;
  }
  .dicteam-memebersname {
    font-size: 48px;
    text-align: left;
  }

  .dicteam-memeberstitle {
    font-size: 37px;
    text-align: left;
  }
}

/* Iphone SE */
@media (width: 375px) and (height: 667px) {
}

/* Iphone XR */
@media (width: 414px) and (height: 896px) {
}

/* Iphone 12 Pro */
@media (width: 390px) and (height: 844px) {
}

/* Iphone 14 Pro Max */
@media (width: 430px) and (height: 932px) {
}

/* Pixel 7 */
@media (width: 412px) and (height: 915px) {
}

/* Samsung Galaxy S8+ */
@media (width: 360px) and (height: 740px) {
}

/* Samsung Galaxy S20 Ultra */
@media (width: 412px) and (height: 915px) {
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
}

/* iPad Pro */
@media (width: 1024px) and (height: 1366px) {
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
}

/* Surface Duo*/
@media (width: 540px) and (height: 720px) {
}

/* Samsung Galaxy A51/71 */
@media (width: 412px) and (height: 914px) {
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
}

/* Nest Hub Max */
@media (width: 1280px) and (height: 800px) {
}
