.teamcenter-text-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
  /* background-color: brown; */
}

.teamcenter-text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
    align-items: center; */
}

.teamcenter-title-container {
  width: 70%;
}

.teamcenter-title {
  font-size: 76px;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 5.5rem;
  color: var(--text-color);
}

.teamcenter-paragraph-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.teamcenter-paragraph {
  font-size: 22px;
  width: 70%;
  font-weight: 300;
}

.teamcenter-button-container {
  margin-top: 12px;
  width: 66%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.teamcenter-button {
  height: 80px;
  width: 263px;
  display: flex;
  flex-direction: row;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  gap: 1.2rem;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--light-yellow);
  border: none;
}

.teamcenter-button:hover {
  color: var(--text-color);
  background-color: var(--light-orange);
}

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
  }

  .teamcenter-title {
    font-size: 22px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 1.7rem;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 13px;
    width: 100%;
    font-weight: 300;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 100%;
    font-size: 13px;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
          align-items: center; */
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
  }

  .teamcenter-title {
    font-size: 22px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 1.7rem;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 13px;
    width: 100%;
    font-weight: 300;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 100%;
    font-size: 13px;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
  }

  .teamcenter-title {
    font-size: 22px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 1.7rem;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 13px;
    width: 100%;
    font-weight: 300;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 100%;
    font-size: 13px;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0.8rem;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
  }

  .teamcenter-title {
    font-size: 25px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 2rem;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 16px;
    width: 100%;
    font-weight: 300;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 100%;
    font-size: 13px;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  .teamcenter-title {
    font-size: 30px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
  .teamcenter-title {
    font-size: 32px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 2.2rem;
  }

  .teamcenter-paragraph {
    font-size: 15px;
  }
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
  }

  .teamcenter-title {
    font-size: 36px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-align: left;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 16px;
    width: 80%;
    font-weight: 300;
    text-align: left;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 233px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    gap: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-yellow);
    border: none;
  }
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
  }

  .teamcenter-title {
    font-size: 55px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 3.6rem;
    text-align: left;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 13px;
    width: 71%;
    font-weight: 300;
    text-align: left;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 233px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    gap: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-yellow);
    border: none;
  }
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-title {
    font-size: 56px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 3.3rem;
    text-align: center;
    width: 100%;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 14px;
    width: 59%;
    font-weight: 300;
    text-align: center;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 233px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    gap: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-yellow);
    border: none;
  }

  .teamcenter-title {
    animation: fadeInRight 0.4s ease-out 0.3s forwards;
    opacity: 0;
  }

  .teamcenter-paragraph {
    animation: fadeInBottom 0.4s ease-out 0.5s forwards;
    opacity: 0;
  }

  .teamcenter-button-container {
    animation: fadeInBottom 0.4s ease-out 0.6s forwards;
    opacity: 0;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-title {
    font-size: 67px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 3.8rem;
    text-align: center;
    width: 90%;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 16px;
    width: 59%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 233px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    gap: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-yellow);
    border: none;
  }
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .teamcenter-text-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }

  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 43%;
  }

  .teamcenter-title-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-title {
    font-size: 76px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 4.4rem;
    text-align: center;
    width: 90%;
  }

  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 16px;
    width: 60%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button-container {
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 60px;
    width: 233px;
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    gap: 1.2rem;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    background-color: var(--light-yellow);
    border: none;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 53%;
  }
  .teamcenter-title {
    font-size: 87px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 5.4rem;
    text-align: center;
    width: 100%;
  }
  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 16px;
    width: 59%;
    font-weight: 300;
  }

  .teamcenter-button-container {
    margin-top: 21px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 64%;
    gap: 1rem;
  }
  .teamcenter-title {
    font-size: 113px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 6rem;
    text-align: center;
    width: 80%;
  }
  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 19px;
  }

  .teamcenter-button-container {
    margin-top: 21px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
  .teamcenter-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 64%;
    gap: 2rem;
  }
  .teamcenter-title {
    font-size: 152px;
    margin-bottom: 0.2rem;
    font-weight: 400;
    line-height: 8.3rem;
    text-align: center;
    width: 90%;
  }
  .teamcenter-paragraph-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .teamcenter-paragraph {
    font-size: 25px;
    width: 50%;
  }

  .teamcenter-button-container {
    margin-top: 21px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .teamcenter-button {
    height: 90px;
    width: 277px;
    font-size: 18px;
  }
}
