.expertisecard-cardcollection-main-container {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}

.expertisecard-cardcollection-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distributes space between cards */
  gap: 1rem; /* Adds spacing between cards */
  max-width: 100%; /* Prevents overflow */
}

.expertisecard-cardcollection-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex: 1 1 calc(33.33% - 1rem); /* Ensures 3 cards per row */
  max-width: calc(33.33% - 1rem); /* Restricts max width to 3 per row */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  border-left: 1px soild #ffd37e;
  padding-left: 6rem;
  padding-right: 6rem;
  /* margin-top: 3rem; */
}

.expertisecard-card-collection-topsection-container {
  width: 100%;
  text-align: left;
}

.expertisecard-card-collection-first-text {
  font-size: 24px;
  font-weight: 400;
}

.expertisecard-card-collection-second-text {
  font-size: 20px;
  font-weight: 300;
}

.expertisecard-card-collection-middlesection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  width: 100%;
}

.expertisecard-card-collection-middle-image {
  width: 63px;
  height: auto;
}

.expertisecard-card-collection-bottomsection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.expertisecard-card-collection-bottomsection-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* background-color: aqua; */
}

.expertisecard-card-collection-bottomsection-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.2rem;
  padding-left: 2.2rem;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1rem;
  background-color: var(--light-yellow);
  border: 1px solid var(--text-color);
  /* border-top-left-radius: 15px; */
  border-radius: 55px;
}

.expertisecard-card-collection-bottom-text {
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

.briefcase-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.briefcase-image {
  width: 100%;
  height: auto;
}

/* Default styles (mobile-first approach) */

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  /* .arrow-image {
    width: 100%;
    height: auto;
  }

  .expertisecard-cardcollection-card-section {
    justify-content: center;
  }

  .expertisecard-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    border-left: 1px soild #ffd37e;
    border-bottom: 1px solid lightgray;
    margin-top: 0rem;
  }

  .expertisecard-card-collection-first-text {
    font-size: 21px;
  }

  .expertisecard-card-collection-second-text {
    font-size: 16px;
  }

  .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 92%;
  } */
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  /* .arrow-image {
    width: 100%;
    height: auto;
  }

  .expertisecard-cardcollection-card-section {
    justify-content: center;
  }

  .expertisecard-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    border-left: 1px soild #ffd37e;
    border-bottom: 1px solid lightgray;
    margin-top: 0rem;
  }

  .expertisecard-card-collection-first-text {
    font-size: 21px;
  }

  .expertisecard-card-collection-second-text {
    font-size: 16px;
  }

  .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 92%;
  } */
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  /* .arrow-image {
    width: 100%;
    height: auto;
  }

  .expertisecard-cardcollection-card-section {
    justify-content: center;
  }

  .expertisecard-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    border-left: 1px soild #ffd37e;
    border-bottom: 1px solid lightgray;
    margin-top: 0rem;
  }

  .expertisecard-card-collection-first-text {
    font-size: 21px;
  }

  .expertisecard-card-collection-second-text {
    font-size: 16px;
  }

  .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 92%;
  } */
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  /* .arrow-image {
    width: 100%;
    height: auto;
  }

  .expertisecard-cardcollection-card-section {
    justify-content: center;
  }

  .expertisecard-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    border-left: 1px soild #ffd37e;
    border-bottom: 1px solid lightgray;
    margin-top: 0rem;
  }

  .expertisecard-card-collection-first-text {
    font-size: 21px;
  }

  .expertisecard-card-collection-second-text {
    font-size: 16px;
  }

  .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 92%;
  } */
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  /* .arrow-image {
    width: 100%;
    height: auto;
  }

  .expertisecard-cardcollection-card-section {
    justify-content: center;
  }

  .expertisecard-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    border-left: 1px soild #ffd37e;
    border-bottom: 1px solid lightgray;
    margin-top: 0rem;
  }

  .expertisecard-card-collection-first-text {
    font-size: 21px;
  }

  .expertisecard-card-collection-second-text {
    font-size: 16px;
  }

  .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 92%;
  } */
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  /* .expertisecard-card-collection-middle-image {
    width: 63px;
    height: auto;
  }

  .expertisecard-card-collection-topsection-container {
    width: 324px;
    text-align: center;
  } */
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  /* .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 92%;
    text-align: center;
  } */
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  /* .expertisecard-cardcollection-card {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    position: relative; 
    border-bottom: 1px solid lightgray;
    margin-top: 0rem;
  }

  
  .expertisecard-cardcollection-card::before {
    content: "";
    position: absolute;
    top: 3%; 
    bottom: 12%; 
    left: 0;
    width: 1px; 
    background-color: var(--light-orange);
  }

  .expertisecard-card-collection-topsection-container {
    width: 324px;
    text-align: center;
  } */
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  /* .expertisecard-cardcollection-card {
    flex-basis: calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
    position: relative; 
    border-bottom: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  
  .expertisecard-cardcollection-card::before {
    content: "";
    position: absolute;
    top: 3%;
    bottom: 12%; 
    left: 0;
    width: 1px; 
    background-color: var(--light-orange);
  }

  .expertisecard-card-collection-topsection-container {
    width: 324px;
    text-align: left;
  }

  .expertisecard-card-collection-bottom-text {
    text-align: left;
  }

  .expertisecard-card-collection-bottomsection-container {
    width: 324px;
  } */
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  /* .expertisecard-card-collection-bottom-text {
    font-size: 14px;
    width: 100%;
  } */
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .expertisecard-cardcollection-card {
    flex-basis: calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
    position: relative;
    margin-top: 2rem;
  }

  .expertisecard-cardcollection-card::before {
    content: "";
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 0;
    width: 1px;
    background-color: var(--light-orange);
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .expertisecard-cardcollection-card {
    flex-basis: calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
    position: relative;
    margin-top: 0rem;
  }

  .expertisecard-cardcollection-card::before {
    content: "";
    position: absolute;
    top: 3%;
    bottom: 12%;
    left: 0;
    width: 1px;
    background-color: var(--light-orange);
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
}
