.homereviews-container {
  width: 100%;
  height: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* margin-top: 10rem; */
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/home_review_background_1920.png");
}

.homereviews-heading {
  font-size: 110px;
  color: var(--text-color);
  font-weight: 400;
  width: 50%;
  line-height: 1;
}

.homereviews-text-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.homereviews-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homereviews-tag {
  width: 136px;
  font-size: 22px;
  color: var(--text-color);
  font-weight: 400;
  background-color: var(--light-orange);
}

.homereviews-description {
  font-size: 22px;
  color: var(--text-color);
  font-weight: 300;
}

.homereviews-review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.homereviews-reviews-bandone {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.homereviews-reviews-bandtwo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.homereviews-first-review {
  width: 48%;
  background-color: rgba(255, 211, 126, 82%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 25px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
}

.homereviews-second-review {
  width: 48%;
  background-color: rgba(251, 249, 234, 82%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 25px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
}

.homereviews-third-review {
  width: 48%;
  background-color: rgba(255, 211, 126, 82%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 25px;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
}

.homereviews-identity-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.homereviews-identity-container {
  display: flex;
  flex-direction: column;
}

.homereviews-content {
  font-size: 20px;
  font-weight: 400;
}

/* Default styles (mobile-first approach) */

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .homereviews-container {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: none;
  }
  .homereviews-heading {
    font-size: 35px;
    width: 100%;
    padding: 1rem;
  }

  .homereviews-tag {
    width: 153px;
    font-size: 25px;
  }

  .homereviews-description {
    font-size: 18px;
  }

  .homereviews-text-container {
    width: 100%;
    padding: 1rem;
  }

  .homereviews-content {
    font-size: 16px;
    font-weight: 400;
  }
  .homereviews-first-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homereviews-reviews-bandtwo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .homereviews-second-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .homereviews-third-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .homereviews-container {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: none;
  }
  .homereviews-heading {
    font-size: 35px;
    width: 100%;
    padding: 1rem;
  }

  .homereviews-tag {
    width: 153px;
    font-size: 25px;
  }

  .homereviews-description {
    font-size: 18px;
  }

  .homereviews-text-container {
    width: 100%;
    padding: 1rem;
  }

  .homereviews-content {
    font-size: 16px;
    font-weight: 400;
  }
  .homereviews-first-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homereviews-reviews-bandtwo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .homereviews-second-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .homereviews-third-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .homereviews-container {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: none;
  }
  .homereviews-heading {
    font-size: 42px;
    width: 100%;
    padding: 1rem;
  }

  .homereviews-tag {
    width: 153px;
    font-size: 25px;
  }

  .homereviews-description {
    font-size: 18px;
  }

  .homereviews-text-container {
    width: 100%;
    padding: 1rem;
  }

  .homereviews-content {
    font-size: 16px;
    font-weight: 400;
  }
  .homereviews-first-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homereviews-reviews-bandtwo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .homereviews-second-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .homereviews-third-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .homereviews-container {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-right: 0rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-image: none;
  }
  .homereviews-heading {
    font-size: 44px;
    width: 100%;
    padding: 1rem;
  }

  .homereviews-tag {
    width: 153px;
    font-size: 25px;
  }

  .homereviews-description {
    font-size: 18px;
  }

  .homereviews-text-container {
    width: 100%;
    padding: 1rem;
  }

  .homereviews-content {
    font-size: 20px;
    font-weight: 400;
  }
  .homereviews-first-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .homereviews-reviews-bandtwo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .homereviews-second-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .homereviews-third-review {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  .homereviews-heading {
    font-size: 49px;
    width: 100%;
    padding: 1rem;
  }
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
  .homereviews-heading {
    font-size: 55px;
    width: 100%;
    padding: 1rem;
  }
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  .homereviews-heading {
    font-size: 70px;
    width: 100%;
    padding: 1rem;
  }
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  .homereviews-heading {
    font-size: 90px;
    width: 100%;
    padding: 1rem;
  }
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .homereviews-container {
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    /* margin-top: 10rem; */
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/home_review_background_1024.png");
  }

  .homereviews-heading {
    font-size: 67px;
    color: var(--text-color);
    font-weight: 400;
    width: 60%;
    line-height: 1;
  }

  .homereviews-text-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .homereviews-text-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .homereviews-tag {
    width: 136px;
    font-size: 22px;
    color: var(--text-color);
    font-weight: 400;
    background-color: var(--light-orange);
  }

  .homereviews-description {
    font-size: 22px;
    color: var(--text-color);
    font-weight: 300;
  }

  .homereviews-review-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .homereviews-reviews-bandone {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .homereviews-reviews-bandtwo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .homereviews-first-review {
    width: 70%;
    background-color: rgba(255, 211, 126, 82%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
  }

  .homereviews-second-review {
    width: 70%;
    background-color: rgba(251, 249, 234, 82%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
  }

  .homereviews-third-review {
    width: 70%;
    background-color: rgba(255, 211, 126, 82%);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
  }

  .homereviews-identity-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .homereviews-identity-container {
    display: flex;
    flex-direction: column;
  }

  .homereviews-content {
    font-size: 20px;
    font-weight: 400;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  .homereviews-container {
    gap: 0.4rem;
    background-image: url("/home_review_background_1280.png");
  }
  .homereviews-heading {
    font-size: 86px;
  }
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .homereviews-container {
    gap: 0.4rem;
    background-image: url("/home_review_background_1440.png");
  }
  .homereviews-heading {
    font-size: 86px;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .homereviews-container {
    gap: 0.4rem;
    background-image: url("/home_review_background_1600.png");
  }
  .homereviews-heading {
    font-size: 110px;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .homereviews-container {
    gap: 0.4rem;
    background-image: url("/home_review_background_1920.png");
    margin-top: 1rem;
  }
  .homereviews-heading {
    font-size: 110px;
  }

  .homereviews-first-review {
    width: 50%;
  }

  .homereviews-second-review {
    width: 50%;
  }

  .homereviews-third-review {
    width: 50%;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
  .homereviews-container {
    gap: 0.4rem;
    background-image: url("/home_review_background_2560.png");
  }
  .homereviews-heading {
    font-size: 179px;
  }

  .homereviews-tag {
    width: 255px;
    font-size: 41px;
  }

  .homereviews-description {
    font-size: 37px;
  }

  .homereviews-content {
    font-size: 29px;
    font-weight: 400;
  }

  .homereviews-first-review {
    width: 50%;
    font-size: 29px;
  }

  .homereviews-second-review {
    width: 50%;
    font-size: 29px;
  }

  .homereviews-third-review {
    width: 50%;
    font-size: 29px;
  }
}
