.homeadvantages-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.homeadvantages-heading {
  font-size: 84px;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  line-height: 1.2;
}

.homeadvanteges-card-container {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.homeadvantages-tag {
  background-color: #ffd37e;
  width: 155px;
  /* display: inline !important; */
  font-size: 27px;
  padding-left: 7px;
  padding-right: 7px;
  color: var(--text-color);
}

.homeadvanteges-card-section {
  width: 66.6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  /* background-color: aqua; */
}

.homeadvanteges-card-logosection {
  width: 44.4%;
  /* background-color: blue; */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/company-logo.png"); */
  padding-left: 9rem;
}

.homeadvantegs-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 300;
  color: var(--text-color);
  width: 48%;
  gap: 1rem;
  background-color: rgba(246, 241, 209, 37%);
}

.homeadvanteges-bullet {
  width: 8%;
  height: auto;
}
