.no-vacancy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
  margin-bottom: 12rem;
}

.no-vacancy-content-container {
  background-color: var(--light-yellow);
  padding: 4rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.no-vacancy-heading-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.no-vacancy-heading {
  font-size: 66px;
  font-weight: 300;
  color: var(--text-color);
}

.no-vacancy-parasection {
  font-size: 30px;
  font-weight: 300;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Default styles (mobile-first approach) */

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .no-vacancy-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .no-vacancy-content-container {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .no-vacancy-heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .no-vacancy-heading {
    font-size: 51px;
    font-weight: 300;
  }

  .no-vacancy-parasection {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .no-vacancy-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .no-vacancy-content-container {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .no-vacancy-heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .no-vacancy-heading {
    font-size: 51px;
    font-weight: 300;
  }

  .no-vacancy-parasection {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .no-vacancy-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .no-vacancy-content-container {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .no-vacancy-heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .no-vacancy-heading {
    font-size: 51px;
    font-weight: 300;
  }

  .no-vacancy-parasection {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .no-vacancy-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .no-vacancy-content-container {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }

  .no-vacancy-heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .no-vacancy-heading {
    font-size: 51px;
    font-weight: 300;
  }

  .no-vacancy-parasection {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .no-vacancy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .no-vacancy-content-container {
    background-color: var(--light-yellow);
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 60%;
  }

  .no-vacancy-heading-section {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;
  }

  .no-vacancy-heading {
    font-size: 56px;
    font-weight: 300;
    color: var(--text-color);
  }

  .no-vacancy-parasection {
    font-size: 25px;
    font-weight: 300;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .no-vacancy-parasection {
    text-align: left;
  }

  .no-vacancy-paraone {
    text-align: left;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .no-vacancy-parasection {
    text-align: left;
    align-items: flex-start;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
}

/* Iphone SE */
@media (width: 375px) and (height: 667px) {
}

/* Iphone XR */
@media (width: 414px) and (height: 896px) {
}

/* Iphone 12 Pro */
@media (width: 390px) and (height: 844px) {
}

/* Iphone 14 Pro Max */
@media (width: 430px) and (height: 932px) {
}

/* Pixel 7 */
@media (width: 412px) and (height: 915px) {
}

/* Samsung Galaxy S8+ */
@media (width: 360px) and (height: 740px) {
}

/* Samsung Galaxy S20 Ultra */
@media (width: 412px) and (height: 915px) {
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
}

/* iPad Pro */
@media (width: 1024px) and (height: 1366px) {
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
}

/* Surface Duo*/
@media (width: 540px) and (height: 720px) {
}

/* Samsung Galaxy A51/71 */
@media (width: 412px) and (height: 914px) {
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
}

/* Nest Hub Max */
@media (width: 1280px) and (height: 800px) {
}
