.cardcollection-main-container {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
}

.cardcollection-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distributes space between cards */
  gap: 1rem; /* Adds spacing between cards */
  max-width: 100%; /* Prevents overflow */
}

.cardcollection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  flex: 1 1 calc(33.33% - 1rem); /* Ensures 3 cards per row */
  max-width: calc(33.33% - 1rem); /* Restricts max width to 3 per row */
  box-sizing: border-box; /* Ensures padding doesn't affect width */
  border-left: 1px solid lightgray;
  margin-top: 3rem;
}

.card-collection-first-text {
  font-size: 22px;
  font-weight: 300;
}

.card-collection-second-text {
  font-size: 20px;
  font-weight: 300;
}

.card-collection-middlesection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.card-collection-middle-image {
  width: 100%;
  height: auto;
}

.card-collection-bottomsection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-collection-bottom-text {
  font-size: 20px;
  font-weight: 300;
  width: 65%;
}

.arrow-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
