.mainheadingsection-wrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  background-image: url("/mainheading_home_1920_background.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.mainheadingsection-container {
  width: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainheadingsection-title-container {
  width: 90%;
}

.mainheadingsection-title {
  font-size: 296px;
  font-weight: 400;
  color: var(--text-color);
}

.mainheadingsection-lowersection-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.mainheadingsection-tex-container {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.mainheadingsection-tag {
  width: fit-content;
  background-color: #ffd37e;
  margin-bottom: 10px;
  font-size: 36px;
  padding-left: 7px;
  padding-right: 7px;
  color: var(--text-color);
}

.mainpageheadingsection-description {
  font-size: 30px;
  font-weight: 300;
}

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-375);
    height: 40vh;
  }

  .mainheadingsection-title {
    font-size: 63px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 16px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 16px;
    font-weight: 300;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-375);
    height: 50vh;
  }

  .mainheadingsection-title {
    font-size: 63px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 16px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 16px;
    font-weight: 300;
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-375);
    height: 50vh;
  }

  .mainheadingsection-title {
    font-size: 63px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 16px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 18px;
    font-weight: 300;
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-375);
    height: 50vh;
  }

  .mainheadingsection-title {
    font-size: 63px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 16px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 18px;
    font-weight: 300;
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-430);
    height: 67vh;
  }

  .mainheadingsection-title {
    font-size: 63px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 16px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 21px;
    font-weight: 300;
  }
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-430);
    height: 67vh;
  }

  .mainheadingsection-title {
    font-size: 63px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 16px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 21px;
    font-weight: 300;
  }
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-600);
    height: 77vh;
  }

  .mainheadingsection-title {
    font-size: 96px;
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mainheadingsection-tag {
    font-size: 22px;
  }

  .mainheadingsection-tex-container {
    width: 97%;
    display: flex;
    flex-direction: column;
  }

  .mainpageheadingsection-description {
    font-size: 23px;
    font-weight: 300;
  }
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-768);
    height: 100vh;
  }

  .mainheadingsection-container {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mainheadingsection-title-container {
    width: 90%;
  }

  .mainheadingsection-title {
    font-size: 135px;
    font-weight: 400;
    color: var(--text-color);
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .mainheadingsection-tex-container {
    width: 77%;
    display: flex;
    flex-direction: column;
  }

  .mainheadingsection-tag {
    width: fit-content;
    background-color: #ffd37e;
    margin-bottom: 10px;
    font-size: 26px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--text-color);
  }

  .mainpageheadingsection-description {
    font-size: 22px;
    font-weight: 300;
  }
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .mainheadingsection-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-1024);
    height: 100vh;
  }

  .mainheadingsection-container {
    width: 94%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mainheadingsection-title-container {
    width: 90%;
  }

  .mainheadingsection-title {
    font-size: 181px;
    font-weight: 400;
    color: var(--text-color);
  }

  .mainheadingsection-lowersection-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .mainheadingsection-tex-container {
    width: 64%;
    display: flex;
    flex-direction: column;
  }

  .mainheadingsection-tag {
    width: fit-content;
    background-color: #ffd37e;
    margin-bottom: 10px;
    font-size: 26px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--text-color);
  }

  .mainpageheadingsection-description {
    font-size: 22px;
    font-weight: 300;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  .mainheadingsection-wrapper {
    background-image: var(--bg-1280);
  }

  .mainheadingsection-title {
    font-size: 189px;
    font-weight: 400;
    color: var(--text-color);
  }
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .mainheadingsection-wrapper {
    background-image: var(--bg-1440);
  }

  .mainheadingsection-title {
    font-size: 207px;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .mainheadingsection-wrapper {
    background-image: var(--bg-1600);
  }

  .mainheadingsection-title {
    font-size: 220px;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .mainheadingsection-wrapper {
    background-image: var(--bg-1920);
  }

  .mainheadingsection-title {
    font-size: 245px;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
  .mainheadingsection-wrapper {
    background-image: var(--bg-2560);
  }

  .mainheadingsection-title {
    font-size: 327px;
  }

  .mainpageheadingsection-description {
    font-size: 34px;
    font-weight: 300;
  }

  .mainheadingsection-tag {
    width: -moz-fit-content;
    width: fit-content;
    background-color: #ffd37e;
    margin-bottom: 10px;
    font-size: 46px;
    padding-left: 7px;
    padding-right: 7px;
    color: var(--text-color);
  }
}

/* Iphone SE */
@media (width: 375px) and (height: 667px) {
}

/* Iphone XR */
@media (width: 414px) and (height: 896px) {
}

/* Iphone 12 Pro */
@media (width: 390px) and (height: 844px) {
}

/* Iphone 14 Pro Max */
@media (width: 430px) and (height: 932px) {
}

/* Pixel 7 */
@media (width: 412px) and (height: 915px) {
}

/* Samsung Galaxy S8+ */
@media (width: 360px) and (height: 740px) {
}

/* Samsung Galaxy S20 Ultra */
@media (width: 412px) and (height: 915px) {
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
}

/* iPad Pro */
@media (width: 1024px) and (height: 1366px) {
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
}

/* Surface Duo*/
@media (width: 540px) and (height: 720px) {
}

/* Samsung Galaxy A51/71 */
@media (width: 412px) and (height: 914px) {
}

/* Nest Hub */
@media (width: 1024px) and (height: 600px) {
}

/* Nest Hub Max */
@media (width: 1280px) and (height: 800px) {
}
