.featuresmethod-cardcollection-main-container {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.featuresmethod-cardcollection-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  max-width: 100%;
}

.featuresmethod-cardcollection-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex: 1 1 calc(33.33% - 1rem);
  max-width: calc(33.33% - 1rem);
  box-sizing: border-box;
  /* border-left: 1px soild #ffd37e; */
  padding-left: 6rem;
  padding-right: 6rem;
}

.featuresmethod-card-collection-topsection-container {
  width: 100%;
  text-align: left;
}

.featuresmethod-card-collection-first-text {
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.featuresmethod-card-collection-second-text {
  font-size: 20px;
  font-weight: 300;
  color: var(--text-color);
}

.featuresmethod-card-collection-middlesection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  width: 100%;
}

.featuresmethod-card-collection-middle-image {
  width: 63px;
  height: auto;
}

.featuresmethod-card-collection-bottomsection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
}

.featuresmethod-card-collection-bottomsection-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* background-color: aqua; */
}

.featuresmethod-card-collection-bottomsection-button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.2rem;
  padding-left: 2.2rem;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1rem;
  background-color: var(--light-yellow);
  border: 1px solid var(--text-color);
  /* border-top-left-radius: 15px; */
  border-radius: 55px;
  color: var(--text-color);
}

.featuresmethod-card-collection-bottomsection-button:hover {
  background-color: var(--light-orange);
}

.featuresmethod-card-collection-bottom-text {
  font-size: 20px;
  font-weight: 300;
  width: 100%;
}

.briefcase-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.briefcase-image {
  width: 100%;
  height: auto;
}

/* Default styles (mobile-first approach) */

/* Small phones (<= 320px) */
@media (max-width: 320px) {
  .briefcase-image {
    width: 100%;
    height: auto;
  }

  .featuresmethod-cardcollection-card-section {
    justify-content: center;
  }

  .featuresmethod-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    /* border-left: 1px soild #ffd37e; */
    /* border-bottom: 1px solid lightgray; */
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 21px;
  }

  .featuresmethod-card-collection-second-text {
    font-size: 16px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 14px;
    /* width: 92%; */
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 360px) {
  .featuresmethod-cardcollection-card-section {
    justify-content: center;
  }

  .featuresmethod-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    /* border-left: 1px soild #ffd37e; */
    /* border-bottom: 1px solid lightgray; */
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 21px;
  }

  .featuresmethod-card-collection-second-text {
    font-size: 16px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 14px;
    /* width: 92%; */
  }
}

/* Standard small phones (<= 360px) */
@media (max-width: 375px) {
  .featuresmethod-cardcollection-card-section {
    justify-content: center;
  }

  .featuresmethod-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    /* border-left: 1px soild #ffd37e; */
    /* border-bottom: 1px solid lightgray; */
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 21px;
  }

  .featuresmethod-card-collection-second-text {
    font-size: 16px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 14px;
    /* width: 92%; */
  }
}

/* iPhone 14, 15 (standard model) */
@media (min-width: 390px) {
  .featuresmethod-cardcollection-card-section {
    justify-content: center;
  }

  .featuresmethod-cardcollection-card {
    flex-basis: calc(100% - 1rem);
    max-width: calc(100% - 1rem);
    /* border-left: 1px soild #ffd37e; */
    /* border-bottom: 1px solid lightgray; */
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 21px;
  }

  .featuresmethod-card-collection-second-text {
    font-size: 16px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 14px;
    /* width: 92%; */
  }
}

/* iPhone 14 Pro, 15 Pro */
@media (min-width: 430px) {
  /* .arrow-image {
      width: 100%;
      height: auto;
    }
  
    .featuresmethod-cardcollection-card-section {
      justify-content: center;
    }
  
    .featuresmethod-cardcollection-card {
      flex-basis: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      border-left: 1px soild #ffd37e;
      border-bottom: 1px solid lightgray;
      margin-top: 0rem;
    }
  
    .featuresmethod-card-collection-first-text {
      font-size: 21px;
    }
  
    .featuresmethod-card-collection-second-text {
      font-size: 16px;
    }
  
    .featuresmethod-card-collection-bottom-text {
      font-size: 14px;
      width: 92%;
    } */
}

/* Larger phones and phablets (>= 480px) */
@media (min-width: 480px) {
}

/* Tablets (>= 600px) */
@media (min-width: 600px) {
  /* .featuresmethod-card-collection-middle-image {
      width: 63px;
      height: auto;
    }
  
    .featuresmethod-card-collection-topsection-container {
      width: 324px;
      text-align: center;
    } */
}

/* Small laptops and larger tablets (>= 768px) */
@media (min-width: 768px) {
  .featuresmethod-cardcollection-card-section {
    justify-content: center;
  }

  .featuresmethod-cardcollection-card {
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    /* border-left: 1px soild #ffd37e; */
    /* border-bottom: 1px solid lightgray; */
    margin-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /* position: relative; */
  }

  .featuresmethod-card-collection-first-text {
    font-size: 21px;
  }

  .featuresmethod-card-collection-second-text {
    font-size: 16px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 14px;
    /* width: 92%; */
  }
}

/* Medium laptops (>= 1024px) */
@media (min-width: 1024px) {
  .featuresmethod-card-collection-bottom-text {
    font-size: 17px;
  }
}

/* Large laptops and desktops (>= 1280px) */
@media (min-width: 1280px) {
  .featuresmethod-cardcollection-card {
    flex-basis: calc(33.33% - 1rem);
    max-width: calc(33.33% - 1rem);
    /* border-left: 1px soild #ffd37e; */
    /* border-bottom: 1px solid lightgray; */
    margin-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 21px;
  }

  .featuresmethod-cardcollection-card::before {
    content: "";
    position: absolute;
    top: 3%;
    bottom: 12%;
    left: 0;
    width: 1px;
    background-color: var(--light-orange);
  }
}

/* Extra-large desktops (>= 1440px) */
@media (min-width: 1440px) {
  .featuresmethod-cardcollection-card {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 23px;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1600px) {
  .featuresmethod-cardcollection-card {
    padding-left: 3.8rem;
    padding-right: 3.8rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 25px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 17px;
  }
}

/* Ultra-wide screens (>= 1600px) */
@media (min-width: 1920px) {
  .featuresmethod-cardcollection-card {
    padding-left: 5.2rem;
    padding-right: 5.2rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 28px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 19px;
  }
}

/* 4K screens (>= 1920px) */
@media (min-width: 2560px) {
  .featuresmethod-cardcollection-card {
    padding-left: 6.7rem;
    padding-right: 6.7rem;
  }

  .featuresmethod-card-collection-first-text {
    font-size: 30px;
  }

  .featuresmethod-card-collection-bottom-text {
    font-size: 24px;
  }
}
